body{
    background-color:   rgb(29, 22, 22);
}
h1{
    color:rgb(142, 22, 22) ;
}
h2{
    color: rgb(142, 22, 22);
}
header{
    width: 95%;
    border: 1px solid rgb(238, 238, 238);
    padding: 30px;
    border-radius: 1%;
    text-align: center;
}
p {
    color: rgb(216, 64, 64);
    font-style: italic;
}
header img{
    width: 40%;
    border: 4px solid rgb(216, 64, 64);
    border-radius: 40% 40% 40% ;
    box-shadow: 6px 6px blanchedalmond;

}   
header img:hover{
    transform: scale(.8);
    transition: all .3s ease-in-out

}
button{
    width: 40%;
    display: block;
    margin: 20px auto;
    padding: 17px 35px;
    background-color: rgb(216, 64, 64);
    border: none;
    border-radius: 8px;
}
header button:hover{
    transform: scale(.8);
    transition: all .3s ease-in-out;
    background-color: beige;
    color: rgb(29, 22, 22);

}
.about{
    width:95% ;
    border: 1px solid rgb(216, 64, 64);
    margin: 30px auto;
    padding: 30px;
    display: flex;
}
.left-about img{
    width: 89%;
    border-radius: 12px;
}
.right-about h2{
   color: rgb(142, 22, 22);
}
.right-about{
   margin: auto 20px;
 }
h3{
    color: rgb(238, 238, 238) ;
 }
#product{
    width: 95%;
    margin: 40px auto;
    text-align: center;
}
#product h2{
    color: rgb(216, 64, 64);
}
.products-card{
    padding: 20px;
    border: 1px dashed  rgb(142, 22, 22);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: 45%;
   border: 1px solid rgb(238, 238, 238);
}
.card img{
    width:45% ;
}
.card button:hover{
    transform: scale(.8);
    transition: all .3s ease-in-out;
    background-color: beige;
    color: rgb(29, 22, 22);
}
footer{
    width: 100%;
    padding: 30px;
    text-align: center;
    background-color: rgb(238, 238, 238) ;

}